[submodule "installs/omnigent-install"]
	path = installs/omnigent-install
	url = git@github.com:opensoft/Omnigent-Install.git
	branch = main
[submodule "openXwallet"]
	path = openXwallet
	url = git@github.com:opensoft/openXwallet.git
[submodule "openXdox"]
	path = openXdox
	url = git@github.com:opensoft/openXdox.git
